* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
  transition: all 0.2s !important;
  -webkit-user-drag: none;
}

body {
  background-color: #e9e9ec;
  overflow-x: hidden !important;
  min-width: 300px !important;
}

::-moz-selection {
  background-color: #313131;
  color: #e9e9ec;
}

::selection {
  background-color: #313131;
  color: #e9e9ec;
}

::-webkit-scrollbar {
  width: 0px;
}

@-webkit-keyframes rotate {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
}
.bg-gradient-img {
  position: fixed;
  top: -20%;
  left: 20%;
  z-index: -1;
  width: 50%;
  -webkit-animation: rotate 30s linear 0.3s infinite forwards;
          animation: rotate 30s linear 0.3s infinite forwards;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flex, .contact .social-media-links .links, .contact .social-media-links, .contact .contact-form .action, .contact .contact-form .input-field, .contact .contact-form, .contact .hero-text, .contact, .projects .project-cards p, .projects .project-cards .card img, .projects .project-cards, .projects .hero-text, .projects, .skills .skills-bar .bar, .skills .skills-bar, .skills .skill-cards .card, .skills .skill-cards, .skills, .about .hero-text .testimonial, .about .hero-text, .about, .home .hero-banner .img, .home .hero-banner, .home, .bottom-links, .nav .links, .nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgMutedText, .contact .bgSectiontext, .projects .bgSectiontext, .skills .bgSectiontext, .about .bgSectiontext, .home .bgSectiontext {
  font-family: "agency fb", sans-serif;
  position: absolute;
  color: #7b6a6a;
  opacity: 6%;
  font-size: 160px;
  z-index: -1;
  font-weight: bold;
}

.page {
  max-width: 1400px !important;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}

/* header */
/* logo */
.logo-section {
  position: fixed;
  top: 10px;
  left: 15px;
  text-align: center;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 10px 20px;
  border-radius: 10px;
}
.logo-section h3 {
  font-size: 20px;
  color: #000;
  font-weight: 900;
  letter-spacing: 0.5px;
  position: relative;
}
.logo-section h3::after {
  content: "";
  position: absolute;
  bottom: 3%;
  left: 0;
  width: 50%;
  height: 3px;
  border-radius: 50px;
  background-color: #000;
}

.openNav {
  position: fixed;
  top: 15px;
  right: 35px;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  opacity: 0;
  display: none;
  color: #000;
  z-index: 99;
}

.nav {
  position: fixed;
  top: 20px !important;
  right: 40px !important;
  flex-direction: column;
  align-items: flex-start;
  z-index: 99;
}
.nav .closeNav {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
  opacity: 0;
  z-index: -1;
}
.nav .indicator {
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  transform: translate(-160%, -50%) !important;
  width: 15px;
  height: 4px;
  background-color: #000;
}
.nav .active {
  opacity: 1;
  top: 50% !important;
  left: 0% !important;
  transform: translate(-115%, -50%) !important;
}
.nav .links {
  flex-direction: column;
  width: 100%;
}
.nav .links a {
  padding: 3px 10px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  width: 100px;
}
.nav a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  height: 100%;
  border-radius: 50px;
  background-color: #707070;
}

.bottom-links {
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
}
.bottom-links i {
  font-size: 20px;
  padding: 10px 5px;
  color: #707070;
}

.home {
  height: 100vh;
  position: relative;
}
.home .hero-banner {
  width: 100%;
  justify-content: space-between;
}
.home .hero-banner h1 {
  font-size: 80px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  z-index: 2;
}
.home .hero-banner h1 span {
  background-color: rgba(0, 0, 0, 0.67);
  color: #b0b0b0;
  padding: 5px 20px;
  filter: drop-shadow(-20px 13px 25px rgba(0, 0, 0, 0.96));
  border-radius: 20px;
}
.home .hero-banner .img {
  transform: translateX(-130px);
  width: 500px;
  height: 500px;
  position: relative;
  filter: contrast(1.1) grayscale(0.2);
}
.home .hero-banner .img img {
  border-radius: 50%;
  filter: drop-shadow(20px -7px 6px rgba(0, 0, 0, 0.22));
}
.home .hero-banner .img span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.67);
  border-radius: 50%;
  z-index: -1;
  box-shadow: 35px -17px 6px rgba(21, 0, 0, 0.21);
}
.home .bgSectiontext {
  bottom: 0%;
  right: -2%;
}
.home .bg-object {
  position: absolute;
  width: 25px;
  height: 25px;
}
.home .bgo-1 {
  top: 30%;
  left: 15%;
}
.home .bgo-3 {
  top: 20%;
  left: 40%;
}
.home .bgo-2 {
  width: 30px;
  height: 30px;
  top: 75%;
  left: 20%;
}
.home .bgo-4 {
  top: 70%;
  left: 40%;
}

.about {
  width: 100%;
  height: 100vh;
  position: relative;
}
.about .hero-text {
  transform: translateY(-50px);
  margin-left: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.about .hero-text h1 {
  font-size: 80px;
  font-weight: 500;
}
.about .hero-text .testimonial {
  width: 50%;
  margin-top: 30px;
  transform: translateX(-200px);
  background-color: rgba(0, 0, 0, 0.67);
  border: 1px solid #000;
  border-radius: 20px;
  color: #b0b0b0;
  font-size: 14px;
  padding: 30px;
  line-height: 26px;
  filter: drop-shadow(-20px 13px 20px rgba(0, 0, 0, 0.96));
}
.about .about-image {
  position: absolute;
  right: 0;
  top: 30%;
  width: 40%;
  height: 400px;
  filter: drop-shadow(20px -7px 6px rgba(0, 0, 0, 0.06));
}
.about .bgSectiontext {
  right: -2%;
  top: 20%;
}

.skills {
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  position: relative;
  transition: transform 0.4s !important;
}
.skills .hero-text {
  margin: 10px 0;
  margin-left: 10px;
}
.skills .hero-text h1 {
  font-size: 80px;
  font-weight: 500;
}
.skills .hero-text p {
  transform: translate(5px, -20px);
  font-size: 14px;
  color: #707070;
}
.skills .skill-cards {
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 500px;
  margin: 10px 0;
}
.skills .skill-cards .card {
  height: 40px;
  padding: 0 20px;
  font-size: 13px;
  width: 120px;
  padding: 0px 20px;
  text-align: center;
  margin: 10px;
  border-radius: 50px;
  border: 1px solid #707070;
  color: #707070;
}
.skills .skill-cards .card:hover {
  background-color: rgba(0, 0, 0, 0.67);
  color: #b0b0b0;
  font-weight: bold;
  filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.96));
  transform: translate(3px, -3px);
  cursor: pointer;
}
.skills .skills-bar {
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 10px;
}
.skills .skills-bar .bar {
  position: relative;
  width: 600px;
  height: 40px;
  border-radius: 50px;
  margin: 10px 0;
  font-size: 13px;
  justify-content: flex-start;
  padding-left: 20px;
  border: 1px solid #707070;
  color: #b0b0b0;
  font-weight: bold;
  filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.96));
  transform: translate(3px, -3px);
  cursor: pointer;
}
.skills .skills-bar .bar div {
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background: rgba(0, 0, 0, 0.67);
  border-radius: 50px;
  z-index: -1;
}
.skills .skills-bar .bar .design {
  width: 85%;
}
.skills .skills-bar .bar .development {
  width: 55%;
}
.skills .skills-bar .bar .games {
  width: 70%;
}
.skills .bgSectiontext {
  right: -2%;
  top: 65%;
}

.projects {
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.projects .hero-text {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
.projects .hero-text h1 {
  font-size: 80px;
  font-weight: 500;
}
.projects .hero-text p {
  transform: translate(5px, -5px);
  font-size: 14px;
  color: #707070;
}
.projects .project-cards {
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px 0;
}
.projects .project-cards .card {
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.67);
  margin: 20px 30px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.96));
}
.projects .project-cards .card img {
  width: 100%;
  border-radius: 5px;
}
.projects .project-cards .card:hover {
  transform: scale(1.01);
}
.projects .project-cards .card:hover p {
  opacity: 1;
  cursor: pointer;
}
.projects .project-cards p {
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateX(-50%);
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.projects .project-cards .spotify img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.projects .explore {
  color: #000;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  margin-left: 10px;
}
.projects .explore::before {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 0;
  height: 2px;
  width: 50%;
  border-radius: 50px;
  background-color: #000;
  transition: all 0.2s;
}
.projects .explore:hover::before {
  width: 100%;
  transition: all 0.2s;
}
.projects .explore:hover i {
  transform: translateX(3px);
}
.projects .bgSectiontext {
  right: -2%;
  top: 80%;
}

.contact {
  height: 100vh;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.contact .hero-text {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
.contact .hero-text h1 {
  font-size: 80px;
  font-weight: 500;
}
.contact .hero-text p {
  transform: translate(3px, -5px);
  font-size: 14px;
  color: #707070;
}
.contact .contact-form {
  margin-left: 10px;
  margin-top: 60px;
  padding: 30px;
  width: 600px;
  height: 400px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.67);
  flex-direction: column;
  align-items: flex-start;
  filter: drop-shadow(-20px 13px 25px rgba(0, 0, 0, 0.96));
}
.contact .contact-form .input-field {
  width: 100%;
  margin: 10px 0;
  justify-content: space-between;
}
.contact .contact-form .input-field label {
  color: #b0b0b0;
  padding: 10px;
  font-size: 14px;
}
.contact .contact-form .input-field input,
.contact .contact-form .input-field textarea {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.55);
  border: none;
  outline: none;
  color: #b0b0b0;
  font-weight: 600;
  border: 1px solid rgba(112, 112, 112, 0.3137254902);
}
.contact .contact-form .input-field textarea {
  min-height: 150px;
  max-height: 150px;
}
.contact .contact-form .action {
  justify-content: flex-end;
  width: 100%;
  padding-top: 10px;
}
.contact .contact-form .action button {
  cursor: pointer;
  letter-spacing: 1px;
  padding: 10px 30px;
  color: #b0b0b0;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #313131;
}
.contact .contact-form .action button:hover {
  background-color: rgba(255, 255, 255, 0.062745098);
}
.contact .social-media-links {
  padding: 20px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.062745098);
  border-radius: 20px;
  position: absolute;
  right: 0%;
  top: 40%;
  z-index: 2;
  color: #707070;
  color: #707070;
  flex-direction: column;
  align-items: flex-start;
}
.contact .social-media-links p {
  padding: 10px;
  font-size: 14px;
}
.contact .social-media-links p i {
  padding-right: 10px;
  font-size: 20px;
}
.contact .social-media-links .title {
  position: relative;
  font-weight: 600;
}
.contact .social-media-links .title::after {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: #707070;
}
.contact .social-media-links .links {
  position: relative;
  margin: 10px 0;
}
.contact .social-media-links .links i {
  color: #707070;
  padding: 10px;
  font-size: 20px;
}
.contact .bgSectiontext {
  right: -2%;
  top: 80%;
}

@media (max-width: 1300px) {
  .nav {
    height: 50vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
    padding: 50px 0;
    left: 0;
    top: 0 !important;
    border-radius: 0 0 20px 20px;
  }
  .nav .links a {
    font-size: 16px;
  }
  .nav .closeNav {
    display: block;
    opacity: 1;
    z-index: 999;
  }

  .navOpen {
    top: 0% !important;
    left: 0% !important;
    transition: 1s all cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  }

  .navClose {
    top: -200% !important;
    left: 0% !important;
    transition: 1s all cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  }

  .openNav {
    display: block;
    opacity: 1;
  }

  .home .hero-banner .img {
    transform: translateX(0);
  }
}
@media (max-width: 1100px) {
  .bgo-1 {
    top: 10% !important;
    left: 5% !important;
  }

  .bgo-3 {
    top: 0% !important;
    right: 20% !important;
  }

  .bgo-2 {
    width: 30px;
    height: 30px;
    bottom: 7% !important;
    left: 2%;
  }

  .bgo-4 {
    top: 30% !important;
    left: 80% !important;
  }

  .page {
    margin: 0;
  }

  .home, .about, .skills, .projects, .contact {
    height: auto;
  }

  .home {
    margin: 100px 0;
  }
  .home .hero-banner {
    flex-direction: column;
  }
  .home .hero-banner h1, .home .hero-banner .img {
    margin: 50px 0;
  }

  .about {
    margin: 100px 0;
  }
  .about .about-image {
    right: -20%;
  }

  .skills {
    margin: 100px 0;
  }
  .skills .hero-text h1 {
    line-height: 100px;
    margin-bottom: 20px;
  }

  .projects {
    margin: 100px 0;
  }

  .contact {
    margin: 100px 0;
    margin-bottom: 0;
  }
  .contact .social-media-links {
    position: relative;
    margin: 50px 20px;
  }
}
@media (max-width: 850px) {
  .bg-gradient-img {
    top: 32% !important;
    left: 51% !important;
    width: 100% !important;
    height: 100% !important;
  }

  h1 {
    font-size: 60px !important;
  }

  .testimonial {
    width: 100% !important;
    margin-left: -20px;
  }

  .about-image {
    width: 20% !important;
  }

  .skills-bar {
    width: 100%;
  }
  .skills-bar .bar {
    width: 100% !important;
  }

  .contact-form, .social-media-links {
    width: 100% !important;
    margin: 50px 0;
  }

  .project-cards {
    margin: 60px 0 !important;
  }

  .skill {
    margin-top: 200px !important;
  }

  .skill-cards {
    width: 100% !important;
    margin: 30px 0 !important;
  }
}
@media (max-width: 600px) {
  .logo-section h3 {
    font-size: 16px !important;
  }

  .contact .contact-form .input-field label {
    font-size: 12px !important;
  }

  .page {
    max-width: auto !important;
    padding: 0 !important;
  }

  .home,
.about,
.skills,
.projects,
.contact {
    padding: 0 10px !important;
  }

  .home .img {
    width: 100% !important;
  }
  .home .img span {
    border-radius: 20px !important;
  }

  .about-image {
    top: 57% !important;
  }

  .skills-bar {
    margin: 20px 10px !important;
  }

  .contact .social-media-links {
    margin: 50px 10px !important;
  }
}
@media (max-width: 400px) {
  .logo-section h3 {
    font-size: 12px !important;
  }

  .home,
.about,
.skills,
.projects,
.contact {
    height: auto;
    padding-left: 0 !important;
  }

  h1 {
    font-size: 40px !important;
    line-height: 60px !important;
  }
}/*# sourceMappingURL=home.css.map */